---
layout: cv
permalink: /cv/
title: CV
---
<link href="/assets/css/cv.css" type="text/css" rel="stylesheet">

<div class="profile">
  <img src="/images/avatar.jpeg" class="avatar" /> 

  <div class="content">
    <h1>Marcos Rodrigues</h1>
    <small>Team leader, Full-Stack Developer, Functional Programming enthusiast.</small>
    <p>
      <em>30 years, married, living in Yokohama, Japan.</em>
    </p>
  </div>
</div>

<div class="addresses">
  <a href="mailto:{{ site.owner.email }}">{{ site.owner.email }}</a>
  <span class="divider"></span>

  <a href="tel:{{ site.owner.phone }}">{{ site.owner.phone }}</a>

  <span class="last">
    <span class="divider"></span>
    <a href="{{ site.url }}">oddlyfunctional.com</a>
  </span>
</div>

<div class="wrapper">
  <div class="container">
    {% for section in site.cv.sections %}
      {% capture section_md %}
        {% include_relative cv/{{section}}.html %}
      {% endcapture %}

      {{ section_md | markdownify }}
    {% endfor %}
  </div>
</div>

<div class="contact-form only-screen">
  <h2>Need an expert? 🤓<br />Get in touch!</h2>

  <form action="https://formspree.io/{{ site.owner.email }}" method="POST">
    <input required type="text" name="name" placeholder="👤 Who are you?">
    <input required type="email" name="_replyto" placeholder="✉️ Tell me your email">
    <textarea required name="message" rows="5" placeholder="💬 Give me some details"></textarea>
    <button type="submit">Hire a nerd 🖖</button>
  </form>

  <p>Or send an email to <a href="mailto:{{ site.owner.email }}">{{ site.owner.email }}</a></p>
</div>

<!-- ### Footer
Last updated: November 2018 -->

 <script>
   (function() {
     if (!document.querySelectorAll) { return; }

     document.querySelectorAll("[data-from]").forEach(function(job) {
       var distance = extractDistance(job.dataset.from, job.dataset.to);
       job.textContent = " • " + formatDistance(distance);
     });

     document.querySelectorAll("textarea").forEach(autoResize);

     function extractDistance(from, to) {
       var from = new Date(from);
       var to = to && new Date(to) || new Date();

       var months = (to.getYear() * 12 + to.getMonth()) - (from.getYear() * 12 + from.getMonth());
       var years = Math.floor(months / 12);
       months = months % 12;

       return { months: months, years: years };
     }

     function pluralize(word, count) {
       if (count === 0) { return ""; }

       let s = [String(count), word].join(" ");
       if (count > 1) { return s + "s"; }
       return s;
     }

     function formatDistance(distance) {
       var months = distance.months;
       var years = distance.years;

       return [pluralize("year", years), pluralize("month", months)].filter(x => x).join(" ");
     }

     function autoResize(textArea) {
       textArea.setAttribute("style", "height:" + textArea.scrollHeight + "px;overflow-y:hidden;");
       textArea.addEventListener("input", onTextAreaInput, false);
     }

     function onTextAreaInput() {
       this.style.height = "auto";
       this.style.height = (this.scrollHeight) + "px";
     }
   })();
 </script>
