---
---

.cv {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  a, a:active, a:visited {
    color: #008cba;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.text-center {
  text-align: center;
}

.wrapper {
  background-color: #f8f9fa;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 4em;

  .content {
    margin-left: 30px;

    small {
      font-size: 1em;
      color: grey;
    }

    em {
      font-weight: lighter;
    }
  }
}

.avatar {
  border-radius: 50%;
  width: 200px;
}

.addresses {
  text-align: center;
  line-height: 26px;

  .divider:after {
    content: "|";
  }
}

.section {
  display: flex;
  margin: 3em 0;

  .section-left {
    width: 25%;
    text-align: right;
    padding-right: 1.5em;
    border-right: 1px solid #ccc;

    &.half {
      width: 50%;
    }
  }

  .section-right {
    flex: 1;
    padding-left: 1.5em;
  }
}

.job {
  small {
    color: #999;
  }
}

.only-print {
  display: none;
}

.contact-form {
  text-align: center;

  h2 {
    margin-bottom: 0.8em;
  }

  input, textarea {
    font-size: 1em;
    padding: 1.3em 1em;
  }

  textarea {
    resize: vertical;
  }

  [type=submit] {
    $submit-button-color: #eb6a5c;
    background-color: $submit-button-color;
    width: 100%;
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid $submit-button-color;

    &:hover {
      background-color: transparent;
      color: $submit-button-color;
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper {
    padding: 2em 0;
  }

  .addresses {
    margin: 2em 0 3em;
  }

  .contact-form {
    margin: 6em 0;

    form {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 1em;
  }

  .wrapper {
    padding: 0;
  }

  .avatar {
    border-radius: 0;
    width: 100%;
  }

  .profile {
    margin-top: 0;

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.5);
      text-align: center;
      margin-left: 0;

      h1, small, p {
        color: white;
      }

      small, p {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .addresses {
    margin: 2em;

    .last {
      display: block;

      .divider {
        display: none;
      }
    }
  }

  .section.main {
    flex-direction: column;

    .section-left {
      border: none;
      text-align: center;
      width: 100%;
    }
  }

  .contact-form {
    width: 100%;
    margin: 3em 0;
    padding: 0 2em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media print {
  .notepad-page-header, .notepad-site-footer {
    display: none;
  }

  .avatar {
    width: 3cm;
  }

  .section {
    page-break-inside: avoid;
  }

  .wrapper {
    background-color: transparent;
  }

  body {
    margin: 1.6cm;
    font-family: "Open Sans", sans-serif;
    word-break: break-word;
  }

  a, a:active, a:visited {
    color: black !important;
  }

  .only-print {
    display: inherit;
  }

  .only-screen {
    display: none;
  }
}
